<!-- <div class="card-container">
  <a class="card" target="_blank" rel="noopener" (click)="imprimirCracha()">
    <svg
      class="material-icons"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
    >
      <path
        d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z"
      />
    </svg>

    <span>Imprimir</span>

    <svg
      class="material-icons"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
    >
      <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
    </svg>
  </a>
</div>

<div id="cracha" style="background-image: url('../assets/card-paint2.png'); padding-left: 150px;">
  <table>
    <tr>
      <td>nome</td>
      <td>Gatuno</td>
    </tr>
    <tr>
      <td>função</td>
      <td>Arquiteto</td>
    </tr>
  </table>
</div> -->
<!-- <div class="row">  <div class="col-md-6">
    <div class="row">
      <div class="col-md-6">
        <div class="cracha crachaFrente">
          <header class="w-100 d-flex jc-center">
            <label
              class="
                fixMarginLeft
                frontTitleStyle
                paddingForTitle
                verseTitleStyle
              "
            >
              Fornecedor Alpargatas
            </label>
          </header>
          <main>
            <div class="d-flex flex-column w-100 jc-center">
              <div class="d-flex jc-center w-100">
                <img class="imgSize" src="../assets/avatardefault_92824.png" />
              </div>
              <label class="userTitleDefault"
                ><span class="userTitleFirstName">Michele</span> Cordeiro
                Targino Santos</label
              >
              <hr class="w-50" />
            </div>
          </main>
          <footer>
            <div class="w-100 d-flex jc-around">
              <label
                >Matrícula: <span class="labelFontWeight"> 171</span></label
              >
              <label>
                Função:
                <span class="labelFontWeight"> Operador Logístico</span></label
              >
            </div>
            <div class="w-100 d-flex jc-around">
              <label
                >Empresa:
                <span class="labelFontWeight"> Aliança Transportes</span></label
              >
              <label class="vHidden paddingTop"
                >Matrícula: <span class="labelFontWeight"> 171</span></label
              >
            </div>
            <div class="w-100 d-flex jc-around">
              <img src="../assets/CrachaLOGOAlpargatas.png" alt="" />
              <img src="../assets/CrachaQRCode.png" alt="" />
            </div>
          </footer>
        </div>
      </div>
      <div class="col-md-6">
        <div class="cracha crachaVerso">
          <header class="w-100 d-flex jc-center">
            <label class="paddingForTitle verseTitleStyle">Homologação</label>
          </header>
          <main>lidesio manutencoes</main>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="row pt-5">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-6">
        <section class="cracha crachaFrente container-fluid">
          <header>
            <label class="frontTitleStyle paddingForTitle">
              Fornecedor Alpargatas
            </label>
          </header>
          <main>
            <div class="row">
              <div class="col-md-12 d-flex justify-content-center">
                <img class="imgSize" src="../assets/avatardefault_92824.png" />
              </div>
              <div class="col-md-12">
                <label class="userTitleDefault">
                  <span class="userTitleFirstName">Michele</span>
                  Cordeiro Targino Santos
                </label>
              </div>
              <div class="col-md-12 d-flex justify-content-center">
                <hr class="w-50 m-0" />
              </div>
              <footer class="container-fluid">
                <div class="row pt-1">
                  <div class="col-md-6">
                    <label>
                      Matrícula:
                      <span class="labelFontWeight"> 171</span>
                    </label>
                  </div>
                  <div class="col-md-6 p-0">
                    <label>
                      Função:
                      <span class="labelFontWeight"> Operador Logístico</span>
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="d-flex flex-column">
                      <label>
                        Empresa:
                        <span class="labelFontWeight">
                          Aliança Transportes</span
                        >
                      </label>
                      <div class="w-100 d-flex justify-content-center">
                        <img
                          src="../assets/CrachaLOGOAlpargatas.png"
                          class="logoSize"
                          alt="Logo da Alpargatas"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <img
                      src="../assets/CrachaQRCode.png"
                      class="h-100 w-100"
                      alt="Qr code apargatas"
                    />
                  </div>
                </div>
              </footer>
            </div>
          </main>
        </section>
      </div>
      <div class="col-md-6">
        <section class="cracha crachaVerso">
          <header class="container-fluid">
            <label class="paddingForTitle verseTitleStyle"> Homologação </label>
          </header>
          <main class="container-fluid mt-4">
            <div class="row justify-content-center">
              <div class="col-md-12">
                <div class="w-100 d-flex justify-content-between">
                  <div>
                    <label class="labelFontWeight pl-1">Código</label>
                  </div>
                  <div>
                    <label class="labelFontWeight pr-1">Vencimento</label>
                  </div>
                </div>
                <div>
                  <ul class="p-0">
                    <li class="d-flex justify-content-between listStyle">
                      <label>Aso</label>
                      <label>12/02/2022</label>
                    </li>
                    <li class="d-flex justify-content-between listStyle">
                      <label>NR-18</label>
                      <label>12/02/2022</label>
                    </li>
                    <li class="d-flex justify-content-between listStyle">
                      <label>NR-33</label>
                      <label>12/02/2022</label>
                    </li>
                    <li class="d-flex justify-content-between listStyle">
                      <label>NR-35</label>
                      <label>12/02/2022</label>
                    </li>
                    <li class="d-flex justify-content-between listStyle">
                      <label>NR-20</label>
                      <label>12/02/2022</label>
                    </li>
                    <li class="d-flex justify-content-between listStyle">
                      <label>NR-10</label>
                      <label>12/02/2022</label>
                    </li>
                    <li class="d-flex justify-content-between listStyle">
                      <label>Curso de Formação Vigilante</label>
                      <label>12/02/2022</label>
                    </li>
                    <li class="d-flex justify-content-between listStyle">
                      <label>CERTIFICAÇÃO ESPECÍFICA/ NR</label>
                      <label>12/02/2022</label>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </main>
          <footer class="container-fluid">
            <div class="row justify-content-end">
              <div class="col-md-5">
                <img
                  src="../assets/CrachaLOGOAlpargatas.png"
                  class="logoSize"
                  alt="Logo da Alpargatas"
                />
              </div>
            </div>
          </footer>
        </section>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
