@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

.cracha {
  width: 5.4cm;
  height: 8.4cm;
  border: 1px solid black;
  border-radius: 12px;
  //margin-left: 2em;
}

.crachaVerso {
  background: url("../assets/AlpargatasBackgroundVerso.png") no-repeat right top;
}

.crachaFrente {
  background-image: url("../assets/CrachaSGTFrente.png");
}

.paddingForTitle {
  padding-top: 35px;
}

.verseTitleStyle {
  text-decoration: underline;
  text-underline-position: under;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 12px;
  position: relative;
  left: 43px;
}

.frontTitleStyle {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-weight: bolder;
  position: relative;
  font-size: 12px;
  left: 20px;
}

.logoSize {
  height: 25px;
  width: 50px;
}

.qrCodeSize {
  height: 0.8cm;
  width: 0.8cm;
}

.imgSize {
  height: 100px;
  width: 100px;
}

.userTitleDefault {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
}

.userTitleFirstName {
  @extend .userTitleDefault;
  font-weight: bolder;
}

label {
  font-size: 8px;
  margin-left: 12px;
  font-family: "Poppins";
  font-weight: 500;
  margin: 0;
}

.labelFontWeight {
  font-weight: bold;
}
body {
  background-color: red !important;
  width: 21cm;
  height: 29.7cm;
  margin: 30mm 45mm 30mm 45mm;
  /* change the margins as you want them to be. */
}

@media print {
  .cracha {
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
  }
  // body {
  //   min-width: auto !important;
  // }
  @page {
    page: landscape;
  }
  body {
    background-color: pink !important;
  }
}

// @page {
//   size: A4;
//   margin: 0;
// }

.listStyle {
  border-radius: 12px;
  border: 1px solid black;
  height: 16px;
  margin: 3px;
}
.listStyle {
  label {
    padding: 2px;
    padding-left: 5px;
    padding-right: 7px;
    font-size: 7px;
  }
}
